.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 2rem 0;

    
    .backButton {
        background-color: white;
        border: none;
        position: absolute;
        left: 3%
    }

}